* {
  font-family: Tahoma, Arial, sans-serif;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
  padding-left: 0;
}
* input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=email]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* textarea {
  overflow: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
}

.sticky-menu {
  min-width: 120px;
  min-height: 100vh;
  display: flex;
  z-index: 2;
  flex-direction: column;
  border: 3px solid #33C1B8;
  background: #fff;
  margin: 0 0;
  position: fixed;
  top: 0;
  left: 0;
}
.sticky-menu > .initials-box {
  border-bottom: 3px solid #33C1B8;
  padding: 15px 30px;
  text-align: center;
}
.sticky-menu > .initials-box > h1 {
  display: block;
  color: #33C1B8;
  font-size: 3rem;
}
.sticky-menu > .menu-box {
  border-bottom: 3px solid #33C1B8;
  padding: 30px 15px;
  padding-top: 50px;
  text-align: center;
}
.sticky-menu > .menu-box > ul {
  list-style: none;
  padding-left: 0;
}
.sticky-menu > .menu-box > ul > li {
  display: block;
  margin-bottom: 15px;
  list-style: none;
  padding-left: 0;
}
.sticky-menu > .menu-box > ul > li > a {
  color: #0D0225;
  font-weight: 700;
}
.sticky-menu > .menu-box > ul > li > a:hover {
  border-bottom: #33C1B8 3px solid;
}
.sticky-menu > .contact-label-box {
  text-align: center;
  padding: 15px 30px;
  border-bottom: 3px solid #33C1B8;
}
.sticky-menu > .contact-label-box > a {
  color: #0D0225;
  font-weight: 700;
}
.sticky-menu > .contact-label-box > a:hover {
  border-bottom: #33C1B8 3px solid;
}
.sticky-menu > .contact-icon-box {
  text-align: center;
  padding: 30px 30px;
}
.sticky-menu > .contact-icon-box > a i {
  color: #33C1B8;
  font-size: 1.5rem;
}

.back-button {
  position: fixed;
  top: 30px;
  left: 20vw;
}
.back-button > .back > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 0.01;
}
.back-button > .back > a > i {
  display: block;
  color: #0D0225;
  font-size: 2.5rem;
}
.back-button > .back > a > p {
  display: block;
  color: #0D0225;
  font-size: 1.5rem;
}

.hero-image {
  background: url(../img/didssph-PGNyuruIx1M-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  margin: 0 0;
  justify-content: center;
  margin-left: 15vw;
}
.hero-image > .overlay {
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  padding: 40px 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  position: relative;
}
.hero-image > .overlay > .hero-image-text {
  position: absolute;
  top: 20vh;
  left: 10%;
  text-align: center;
  display: block;
  width: 80%;
  margin: 30px auto;
}
.hero-image > .overlay > .hero-image-text > h1 {
  font-size: 3rem;
  display: block;
  font-weight: 700;
  color: #fff;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hero-image > .overlay > .hero-image-text > h1 > .typing {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero-image > .overlay > .hero-image-text > h3 {
  display: block;
  font-weight: 700;
  color: #fff;
}
.hero-image > .overlay > .scroll-down-link {
  display: block;
  position: absolute;
  top: 80vh;
  left: 45%;
  text-align: center;
}
.hero-image > .overlay > .scroll-down-link > a {
  display: inline-block;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.hero-image > .overlay > .scroll-down-link > a > p {
  display: block;
}
.hero-image > .overlay > .scroll-down-link > a > i {
  display: block;
  transition: transform 0.3s;
}
.hero-image > .overlay > .scroll-down-link > a:hover > i {
  transform: translateY(5px);
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto;
}
.mobile-nav > a {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}
.mobile-nav > a > .nav-card {
  background-color: #fff;
  height: 100px;
  text-align: center;
  padding: 20px 15px;
  padding-bottom: 0px;
  border: 1px solid #0D0225;
  border-radius: 3px;
}
.mobile-nav > a > .nav-card > i {
  display: inline-block;
  color: #0D0225;
  position: relative;
}
.mobile-nav > a > .nav-card > i::after {
  content: " ";
  width: 100%;
  height: 3px;
  background: #0D0225;
  position: absolute;
  top: 150%;
  left: 0%;
}
.mobile-nav > a > .nav-card > h3 {
  display: block;
  color: #0D0225;
}
.mobile-nav > a > .nav-card:hover {
  background: #0D0225;
  box-shadow: 10px 10px 10px #ccc;
}
.mobile-nav > a > .nav-card:hover > i, .mobile-nav > a > .nav-card:hover h3 {
  color: #fff;
}
.mobile-nav > a > .nav-card:hover > i::after, .mobile-nav > a > .nav-card:hover h3::after {
  background: #fff;
}

.portfolio {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  margin-left: 30vw;
  flex-wrap: wrap;
}
.portfolio > .folio-card {
  width: 25%;
  margin: 15px 15px;
}
.portfolio > .folio-card > a > .picture {
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.portfolio > .folio-card > a > .picture > img {
  width: 100%;
  position: relative;
  z-index: -2;
  border-radius: 3px;
  transition: box-shadow 0.3s, opacity 0.3s, transform 0.3s;
}
.portfolio > .folio-card > a > .picture > .pop-up {
  visibility: hidden;
  position: absolute;
  transition: transform, 0.3s;
  top: 100%;
  padding: 15px 15px;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.portfolio > .folio-card > a > .picture > .pop-up > p {
  font-size: 0.8rem;
  color: #fff;
}
.portfolio > .folio-card > a > h2 {
  font-size: 1.2rem;
  color: #0D0225;
  transition: opacity 0.3s;
}
.portfolio > .folio-card > a > p {
  color: #0D0225;
  font-size: 0.8rem;
  transition: opacity 0.3s;
}
.portfolio > .folio-card > a > p > i {
  color: #0D0225;
  font-size: 0.8rem;
  transition: transform 0.3s ease-out, opacity 0.3s;
}
.portfolio > .folio-card > a:hover > .picture > img {
  box-shadow: 5px 5px 10px 5px #aaa;
  opacity: 0.75;
  transform: scale(1.2);
}
.portfolio > .folio-card > a:hover > .picture > .pop-up {
  visibility: visible;
  transform: translateY(-100%);
}
.portfolio > .folio-card > a:hover > h2, .portfolio > .folio-card > a:hover p {
  opacity: 0.75;
}
.portfolio > .folio-card > a:hover > h2 > i, .portfolio > .folio-card > a:hover p > i {
  opacity: 0.75;
  transform: translateX(5px);
}

.contact-form {
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
}
.contact-form > .info-box {
  display: block;
  width: 25%;
}
.contact-form > .info-box > * {
  color: #0D0225;
}
.contact-form > .form-box {
  display: block;
  width: 65%;
  margin-left: 30px;
}
.contact-form > .form-box > form {
  width: 100%;
}
.contact-form > .form-box > form > .first-last {
  display: flex;
  width: 100%;
  padding: 0 0;
  align-items: stretch;
}
.contact-form > .form-box > form > .first-last > input {
  min-width: 40%;
}
.contact-form > .form-box > form > .first-last > input:last-of-type {
  margin-left: auto;
  margin-right: -30px;
}
.contact-form > .form-box > form > #email, .contact-form > .form-box > form #subject, .contact-form > .form-box > form #message {
  width: 100%;
}
.contact-form > .form-box > form > input, .contact-form > .form-box > form .first-last input {
  background: #ccc;
  border: none;
  border-radius: 3px;
  height: 20px;
  margin: 5px 0px;
  padding: 15px 15px;
}
.contact-form > .form-box > form > textarea {
  height: 75px;
  margin: 15px 0px;
  padding: 15px 15px;
  background: #ccc;
  border: none;
  border-radius: 3px;
  resize: none;
}
.contact-form > .form-box > button {
  margin-left: 0px;
  border: 1px solid #0D0225;
  color: #0D0225;
  border-radius: 3px;
  height: 40px;
  width: 80px;
  padding: 10px 15px;
  text-align: center;
  vertical-align: center;
  background: none;
}
.contact-form > .form-box > button:hover {
  background: #0D0225;
  color: #fff;
}

.foot {
  display: flex;
  margin-left: 15vw;
}
@media screen and (-ms-high-contrast: active) {
  .foot {
    margin-left: 50vw;
  }
}
.foot > .to-top {
  display: block;
  margin: 30px auto;
}
.foot > .to-top > a {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}
.foot > .to-top > a > i {
  color: #0D0225;
  transition: transform 0.3s;
}
.foot > .to-top > a > p {
  color: #0D0225;
}
.foot > .to-top > a:hover > i {
  transform: translateY(-5px);
}

.internal-section {
  height: 100%;
  margin-left: 15vw;
  display: flex;
  align-items: center;
  padding: 30px 30px;
}
.internal-section > .text-block {
  border: 5px solid #33C1B8;
  background: #fff;
  width: 80%;
  height: 100%;
  margin: 50px 30px;
  display: block;
  padding: 15px 30px;
  border-radius: 3px;
}
.internal-section > .text-block * {
  color: #0D0225;
}
.internal-section > .text-block > p > .dropcap {
  float: left;
  font-size: 60px;
  line-height: 35px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 0;
}

@media only screen and (max-width: 425px) {
  .hero-image > .overlay > .hero-image-text > h1 {
    font-size: 2rem;
  }

  .portfolio {
    margin-left: 15px;
  }
  .portfolio > .folio-card {
    margin: 0 auto;
    width: 80%;
  }

  .contact-form {
    margin-left: 15px;
    flex-wrap: wrap;
  }
  .contact-form > .info-box {
    width: 100%;
    margin: 0 auto;
  }
  .contact-form > .form-box {
    width: 100%;
    margin: 0 auto;
  }
  .contact-form > .form-box > form > input, .contact-form > .form-box > form textarea {
    max-width: 80%;
  }
  .contact-form > .form-box > form > .first-last {
    display: block;
  }

  .internal-section > .text-block {
    margin: 0 auto;
    width: 70%;
  }
}
@media only screen and (min-width: 425px) {
  .portfolio {
    margin-left: 40vw;
  }
  .portfolio > .folio-card {
    width: 80%;
  }

  .hero-image {
    margin-left: 150px;
  }
  .hero-image > .overlay > .hero-image-text {
    margin: 0 auto;
  }
  .hero-image > .overlay > .hero-image-text > h1 {
    font-size: 2.5rem;
    margin: 0 auto;
  }

  .contact-form {
    margin-left: 200px;
    flex-wrap: wrap;
  }
  .contact-form > .info-box {
    width: 100%;
    margin: 0 auto;
  }
  .contact-form > .form-box {
    width: 100%;
    margin: 0 auto;
  }
  .contact-form > .form-box > form > input, .contact-form > .form-box > form textarea {
    max-width: 80%;
  }
  .contact-form > .form-box > form > .first-last {
    width: 80%;
  }

  .internal-section > .text-block {
    width: 60%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 786px) {
  .hero-image, .portfolio, .contact-form, .foot, .internal-section {
    margin: 0 auto;
  }

  .portfolio {
    margin-left: 10vw;
  }

  .contact-form {
    margin-left: 10vw;
  }

  .sticky-menu {
    display: none;
  }
}
@media only screen and (min-width: 786px) {
  .sticky-menu {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }

  .portfolio {
    margin-left: 25vw;
  }
  .portfolio > .folio-card {
    width: 40%;
  }

  .contact-form > .info-box {
    width: 25%;
  }
  .contact-form > .form-box {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .portfolio > .folio-card {
    width: 25%;
  }
}
@media only screen and (min-width: 1280px) {
  .portfolio > .folio-card {
    width: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
