//Navigation menu queries.
@media only screen and (max-width: 425px) {
    


    .hero-image{
        & > .overlay{
            & > .hero-image-text{
                & > h1{
                    font-size: 2rem;
                }
            }
        }
    }

    .portfolio{
        margin: 0 auto;
        & > .folio-card{
            margin: 0 auto;
            width: 80%;
        }
    }

    .contact-form{
        margin: 0 auto;
        flex-wrap: wrap;
        padding: 0 15px;
        & > .info-box{
            width: 100%;
            margin: 0 auto;
        }
        & > .form-box{
            width: 100%;
            margin: 0 auto;
            & > form{
                & > input, textarea{
                    max-width: 80%;
                }
                & > .first-last{
                    display: block;
                    
                }
            }
        }
    }

    .internal-section{
        & > .text-block{
            margin: 0 auto;
            width: 70%;
        }
    }
    
}

@media only screen and (min-width: 425px) {
    
    // .portfolio{
    //     & > .folio-card{
    //         width: 80%;
            
            
    //     }
    //     //margin-left: 40vw;
        
    // }
    .portfolio{
        & > .folio-card{
            width: 40%;
        }
        //margin-left: 25vw;
    }



    .hero-image{
        & > .overlay{
            & > .hero-image-text{
               margin: 0 auto;
                & > h1{
                    font-size: 2.5rem;
                    margin: 0 auto;
                }
            }
        }
        //margin-left: 150px;
    }

    .contact-form{
        margin: 0 auto;
        & > .info-box{
            width: 30%;
            
        }
        & > .form-box{
            width: 40%;
        }
    }

    

    .internal-section{
       
        & > .text-block{
            width: 60%;
            margin: 0 auto;
            
        }
    }
    
}
@media only screen and (max-width: 786px){
    .hero-image, .portfolio, .contact-form, .foot, .internal-section{
        margin: 0 auto;
    }

    #main-content{
        margin-left: 0;
    }

    
    .sticky-menu{
        display: none;
    }

    
}

@media only screen and (min-width: 786px) {
    
    .sticky-menu{
        display: flex;
    }

    .mobile-nav{
        display: none;
    }

    #burger-button{
        display: none;
    }
    
    
    
    .portfolio{
        & > .folio-card{
            width: 40%;
        }
        //margin-left: 25vw;
    }

    .contact-form{
        margin: 0 auto;
        & > .info-box{
            width: 35%;
            
        }
        & > .form-box{
            width: 45%;
        }
    }

    
}

@media only screen and (min-width: 1024px) {
    .portfolio{
        & > .folio-card{
            width: 25%;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .portfolio{
        & > .folio-card{
            width: 25%;
        }
    }
}