//Variables
$blue-ish: #33C1B8;
$purple-ish: #0D0225;
//universal calls
*{
    font-family: Tahoma, Arial, sans-serif;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }

    input[type=text]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    input[type=email]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    textarea{
        overflow: auto;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0;
}

// Settings for hammmburger
// ==================================================
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 8px !default;
$hamburger-layer-width         : 32px !default;
$hamburger-layer-height        : 3px !default;
$hamburger-layer-spacing       : 4px !default;
$hamburger-layer-color         : #fff !default;
$hamburger-layer-border-radius : 0px !default;
$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(100%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

$hamburger-types: (
  elastic,
) !default;

#burger-button{
    position: sticky;
    z-index: 10;
    top:0;
    left:0;
    background: #fff;
}
.sticky-menu{
    //width: 15vw;
    min-width: 120px;
    min-height: 100vh;
    display: flex;
    z-index: 10;
    flex-direction: column;
    border: 3px solid $blue-ish;
    background: #fff;
    margin: 0 0;
    position: fixed;
    top: 0;
    left: 0;
    & > .initials-box{
        border-bottom: 3px solid $blue-ish;
        padding: 15px 30px;
        text-align: center;
        & > h1{
            display: block;
            
            & > a{
                color: $blue-ish;
                font-size: 3rem;
            }
        }
    }
    & > .menu-box{
        border-bottom: 3px solid $blue-ish;
        padding: 30px 15px;
        //padding-top: 50px;
        text-align: center;
        vertical-align: middle;
        & > ul{
            list-style: none;
            padding-left: 0;
            & > li{
                display: block;
                margin-bottom: 15px;
                list-style: none;
                padding-left: 0;
                & > a{
                    color: $purple-ish;
                    font-weight: 700;
                    &:hover{
                        border-bottom: $blue-ish 3px solid;
                    }
                }
            }
        }
        
    }
    & > .contact-label-box{
        text-align: center;
        padding: 15px 30px;
        border-bottom: 3px solid $blue-ish;
        & > a{
            color: $purple-ish;
            font-weight: 700;
            &:hover{
                border-bottom: $blue-ish 3px solid;
            }
        }
    }
    & > .contact-icon-box{
        text-align: center;
        padding: 30px 30px;
        display: flex;
        justify-content: space-between;
        & > a i{
            color: $blue-ish;
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
        }
    }
}

.back-button{
    
    position: fixed;
    top: 30px;
    left: 20vw;
    & > .back{
        & > a{
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 0.01;
            & > i{
                display: block;
                color: $purple-ish;
                font-size: 2.5rem;
            }
            & > p{
                display: block;
                color: $purple-ish;
                font-size: 1.5rem;
            }
        }
    }
}

.hero-image{
    background: url(../img/didssph-PGNyuruIx1M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    margin: 0 0;
    justify-content: center;
    margin-left: 15vw;
    
    & > .overlay{
        background: rgba(0,0,0,0.35);
        width: 100%;
        padding: 40px 30px;
        padding-top: 150px;
        padding-bottom: 30px;
        position: relative;
        & > .hero-image-text{
            position: absolute;
            top: 20vh;
            left: 10%;
            text-align: center;
            display: block;
            width: 80%;
            margin: 30px auto;
            
            & > h1{
                font-size: 3rem;
                display: block;
                font-weight: 700;
                color: #fff;
                
                @keyframes blink {
                    from {
                      opacity: 1;
                    }
                  
                    to {
                      opacity: 0;
                    }
                }
                  
                & > .typing{
                    animation-duration: 0.5s;
                    animation-timing-function: cubic-bezier(1,0,0,1);
                    animation-name: blink;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                
            }

            
            & > h3{
                display: block;
                font-weight: 700;
                color: #fff;
            }
        }
        & > .scroll-down-link{
            display: block;
            position: absolute;
            top: 80vh;
            left: 45%;
            text-align: center;
            
            & > a{
                display: inline-block;
                font-weight: 700;
                color: white;
                text-decoration: none;
                & > p{
                    display: block;

                }
                & > i{
                    display: block;
                    transition: transform .3s;
                }
                &:hover{
                    & > i{
                        transform: translateY(5px);
                    }
                }
            }
        }
    }
    
}

.mobile-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;

    & > a{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;

        & > .nav-card{
            background-color: #fff;
            height: 100px;
            text-align: center;
            padding: 20px 15px;
            padding-bottom: 0px;
            border: 1px solid $purple-ish;
            border-radius: 3px;
            
            & > i{
                display: inline-block;
                color: $purple-ish;
                position: relative;
                &::after{
                    content:" ";
                    width: 100%;
                    height: 3px;
                    background: $purple-ish;
                    position: absolute;
                    top: 150%;
                    left:0%;
                }
            }
            & > h3{
                display: block;
                color: $purple-ish;
            }
            &:hover{
                background: $purple-ish;
                & > i, h3{
                    color: #fff;
                    &::after{
                        background: #fff;
                    }
                }
                box-shadow: 10px 10px 10px #ccc;
            }
    
        }    

    }
}

.portfolio{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    margin-left: 30vw;
    flex-wrap: wrap;
    & > .folio-card{
        width: 25%;
        margin: 15px 15px;
        
        
        & > a{
            
            & > .picture{
                overflow: hidden;
                position: relative;
                z-index: -1;
                & > img{
                    width: 100%;
                    height: 200px;
                    position: relative;
                    z-index: -2;
                    border-radius: 3px;
                    transition: box-shadow .3s, opacity .3s, transform .3s;
                }
                & > .pop-up{
                    visibility: hidden;
                    position: absolute;
                    transition: transform, 0.3s;
                    top: 100%;
                    padding: 15px 15px;
                    left: 0;
                    z-index: 1;
                    background: rgba(0,0,0,0.75);
                    & > p{
                        font-size: 0.8rem;
                        color: #fff;
                    }
                }
            }
            
            & > h2{
                font-size: 1.2rem;
                color: $purple-ish;
                transition: opacity .3s;
            }
            & > p{
                color: $purple-ish;
                font-size: 0.8rem;
                transition: opacity .3s;
                & > i{
                    color: $purple-ish;
                    font-size: 0.8rem;
                    transition: transform 0.3s ease-out, opacity .3s;
                }
            }
            
            &:hover{
                & > .picture{
                    & > img{
                        box-shadow: 5px 5px 10px 5px #aaa;
                        opacity: 0.75;
                        transform: scale(1.2);
                    }
                    & > .pop-up{
                        visibility: visible;
                        transform: translateY(-100%);
    
                    }
                }
               
                
                & > h2, p{
                    opacity: 0.75;
                    & > i{
                        opacity: 0.75;
                        transform: translateX(5px);
                    }
                }
            }
            
        }
    }
}

.contact-form{
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
    & > .info-box{
        display: block;
        width: 25%;
        & > *{
            color: $purple-ish;
        }
    }
    & > .form-box{
        display: block;
        width: 65%;
        margin-left: 30px;
        & > form{
            width: 100%;
            & > .first-last{
                display: flex;
                width: 100%;
                padding: 0 0;
                flex-grow: 1;
                & > input{
                    max-width: 50%;
                   
                }
            }
            & > #email, #subject, #message{
                width: 100%;
            }
            & > input, .first-last input{
                background: #ccc;
                border: none;
                border-radius: 3px;
                height: 20px;
                margin: 5px 0px;
                padding: 15px 15px;
            }
            & > textarea{
                height: 75px;
                margin: 15px 0px;
                padding: 15px 15px;
                background: #ccc;
                border: none;
                border-radius: 3px;
                resize: none;
            }
        }
        & > button{
            margin-left: 0px;
            border: 1px solid $purple-ish;
            color: $purple-ish;
            border-radius: 3px;
            height: 40px;
            width: 80px;
            padding: 10px 15px;
            text-align: center;
            vertical-align: center;
            background: none;
            &:hover{
                background:$purple-ish;
                color: #fff;
            }
        }
    }
    
}

.foot{
    display: flex;
    margin-left: 15vw;
    @media screen and (-ms-high-contrast: active){
        margin-left: 50vw;
    }
    & > .to-top{
        display: block;
        margin: 30px auto;
        
        & > a{
            display: inline-block;
            text-align: center;
            font-weight: 700;
            text-decoration: none;
            & > i{
                color: $purple-ish;
                transition: transform .3s;
            }
            & > p{
                color: $purple-ish;
            }
            &:hover{
                & > i{
                    transform: translateY(-5px);
                }
            }
        }
    }
}

.internal-section{
    height: 100%;
    margin-left: 15vw;
    display: flex;
    align-items: center;
    padding: 30px 30px;
    & > .text-block{
        & *{
            color: $purple-ish;
        }
        border: 5px solid $blue-ish;
        background: #fff;
        width: 80%;
        height: 100%;
        margin: 50px 30px;
        display: block;
        padding: 15px 30px;
        border-radius: 3px;
        & > p{
            & > .dropcap{
                float: left;
                font-size: 60px;
                line-height: 35px;
                padding-top: 10px;
                padding-right: 8px;
                padding-left: 3px;
                padding-bottom: 0;
            }
        }
    }
}

@import "media.scss";
@import "_base.scss";
@import "_elastic.scss";

