//Variables
$blue-ish: #33C1B8;
$purple-ish: #0D0225;
//universal calls
*{
    font-family: Tahoma, Arial, sans-serif;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: inherit;
        word-wrap: break-word;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }

    input[type=text]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    input[type=email]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
    textarea{
        overflow: auto;
        
    }
    textarea::-ms-clear{
        display: none;
        width: 0;
        height: 0;
    }

    input[type="email"], input[type="password"], input[type="text"] 
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 20px; // Increase height as required
        margin-bottom: 30px;
        padding: 0 20px; // Now only left & right padding
    }
    
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0 auto;
    margin: 0 0;
}

#main-content{
    margin-left: 180px;
    
}

#title{
    word-wrap: break-word;
}

#my-page{
    background: #fff;
    
}



// Settings for hammmburger
// ==================================================
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 8px !default;
$hamburger-layer-width         : 32px !default;
$hamburger-layer-height        : 3px !default;
$hamburger-layer-spacing       : 4px !default;
$hamburger-layer-color         : $blue-ish !important;
$hamburger-layer-border-radius : 0px !default;
$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(100%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

$hamburger-types: (
  elastic,
) !default;

#burger-button{
    position: fixed;
    z-index: 30;
    top:-7px;
    left:-8px;
    width: 100%;
    background: rgba(255,255,255,0);
    
    
}
.sticky-menu{
    width: 180px;
    min-height: 100vh;
    display: flex;
    z-index: 10;
    flex-direction: column;
    border: 3px solid $blue-ish;
    background: #fff;
    margin: 0 0;
    position: fixed;
    top: 0;
    left: 0;
    & > .initials-box{
        border-bottom: 3px solid $blue-ish;
        padding: 15px 30px;
        text-align: center;
        & > h1{
            display: block;
            color: $blue-ish;
            & > a{
                transition: color .4s ease-in;
                font-size: 3rem;
                &:hover{
                    color: $purple-ish; 
                }
            }
        }
    }
    & > .menu-box{
        border-bottom: 3px solid $blue-ish;
        padding: 30px 15px;
        //padding-top: 50px;
        text-align: center;
        vertical-align: middle;
        & > ul{
            list-style: none;
            padding-left: 0;
            color: $purple-ish;
            & > li{
                display: block;
                margin-bottom: 15px;
                list-style: none;
                padding-left: 0;
                color: $purple-ish;
                & > a{
                    color: $purple-ish;
                    font-weight: 700;
                    
                    &:hover{
                        border-bottom: $blue-ish 3px solid;
                        
                    }
                }
            }
        }
        
    }
    & > .contact-label-box{
        text-align: center;
        padding: 15px 30px;
        border-bottom: 3px solid $blue-ish;
        & > a{
            color: $purple-ish;
            font-weight: 700;
            &:hover{
                border-bottom: $blue-ish 3px solid;
            }
        }
    }
    & > .contact-icon-box{
        text-align: center;
        padding: 30px 30px;
        display: flex;
        justify-content: space-between;
        & > a i{
            color: $blue-ish;
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            transition: color .4s ease-in;
                
            &:hover{
                color: $purple-ish; 
            }
        }
    }
}

#my-menu{
    width: 180px;
    background: #fff;
    
    
}

#mm-0{
    width:180px;
}



.hero-image{
    background: url(../img/didssph-PGNyuruIx1M-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0 0;
    align-items: center;
    
    
    & > .overlay{
        background: rgba(0,0,0,0.35);
        width: 100%;
        padding: 40px 30px;
        // padding-top: 150px;
        // padding-bottom: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        & > .hero-image-text{
            
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px auto;
            
            
            & > h1{
                font-size: 3rem;
                display: block;
                font-weight: 700;
                color: #fff;
                width: 100%;
                
                
            }

            
            & > h3{
                display: block;
                font-weight: 700;
                color: #fff;
                

            }
        }
        & > .scroll-down-link{
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
            margin-top: 50px;
            align-self: flex-end;
            
            
            & > a{
                display: inline-block;
                font-weight: 700;
                color: white;
                text-decoration: none;
                & > p{
                    display: block;

                }
                & > i{
                    display: block;
                    transition: transform .3s;
                }
                &:hover{
                    & > i{
                        transform: translateY(5px);
                    }
                }
            }
        }
    }
    
}

.mobile-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;

    & > a{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;

        & > .nav-card{
            background-color: #fff;
            height: 100px;
            text-align: center;
            padding: 20px 15px;
            padding-bottom: 0px;
            border: 1px solid $purple-ish;
            border-radius: 3px;
            
            & > i{
                display: inline-block;
                color: $purple-ish;
                position: relative;
                &::after{
                    content:" ";
                    width: 100%;
                    height: 3px;
                    background: $purple-ish;
                    position: absolute;
                    top: 150%;
                    left:0%;
                }
            }
            & > h3{
                display: block;
                color: $purple-ish;
            }
            &:hover{
                background: $purple-ish;
                & > i, h3{
                    color: #fff;
                    &::after{
                        background: #fff;
                    }
                }
                box-shadow: 10px 10px 10px #ccc;
            }
    
        }    

    }
}

.portfolio{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    & > .folio-card{
        width: 25%;
        margin: 15px 15px;
        
        
        & > a{
            
            & > .picture{
                overflow: hidden;
                position: relative;
                display: flex;
                height: 200px;
                //z-index: -1;
                & > img{
                    width: 100%;
                    height: auto;
                    flex: 2;
                    overflow: hidden;
                    position: relative;
                    z-index: -2;
                    border-radius: 3px;
                    transition: box-shadow .5s, transform .5s ease-out;
                }
                & > .pop-up{
                    visibility: hidden;
                    position: absolute;
                    transition: transform, 0.3s;
                    top: 100%;
                    padding: 15px 15px;
                    width: 100%;
                    left: 0;
                    z-index: -1;
                    background: rgba(0,0,0,0.75);
                    & > p{
                        font-size: 0.8rem;
                        color: #fff;
                    }
                }
            }
            
            & > h2{
                font-size: 1.2rem;
                color: $purple-ish;
                transition: opacity .3s;
            }
            & > p{
                color: $purple-ish;
                font-size: 0.8rem;
                transition: opacity .3s;
                & > i{
                    color: $purple-ish;
                    font-size: 0.8rem;
                    transition: transform 0.3s ease-out, opacity .3s;
                }
            }
            
            &:hover{
                & > .picture{
                    & > img{
                        box-shadow: 5px 5px 10px 5px #33C1B8;
                        
                        transform: scale(1.2);
                    }
                    & > .pop-up{
                        visibility: visible;
                        transform: translateY(-100%);
    
                    }
                }
               
                
                & > h2, p{
                    opacity: 0.75;
                    & > i{
                        opacity: 0.75;
                        transform: translateX(5px);
                    }
                }
            }
            
        }
    }
}

.contact-form{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    padding: 30px 30px;
    background: #0D0225;

    & > .info-box{
        display: block;
        width: 30%;
        word-wrap: break-word;
        & > *{
            color: #fff;
        }
        & > h3 {
            &>a{
                text-decoration: underline;
                transition: text-shadow .3s ease-out;
                &:hover{
                    text-shadow: 0px 1px 4px#fff;
                }
            }
        }
    }
    & > .form-box{
        display: block;
        width: 40%;
        margin-left: 0;
        //margin-right:0;
        & > form{
            
            & > div {
                width: 100%;
                &:first-of-type{
                    display: flex;
                    width: 100%;
                }
                &:last-of-type{
                    & > input{
                        width: 100%;
                    }
                }

                & > input{
                    background: $purple-ish;
                    border: 1px solid white;
                    color: #fff;
                    border-radius: 3px;
                    height: 50px;
                    width: 100%;
                    display: block;
                    margin: 5px 0px;
                    //padding: 30px 15px;
                    transition: box-shadow .4s ease-out;
                    box-shadow: 0px 0px 0px #fff;
                    &:hover{
                        box-shadow: 0px 1px 6px #fff;
                    }
                   
                }
                & > #first{
                    
                    box-sizing: border-box;
                }
                & > #last{
                    
                    margin-left: 10px;
                    box-sizing: border-box;
                }
                & > #email, #subject{
                    //max-width: 100%;
                   
                    box-sizing: border-box;
                    
                    
                }
                & >#email{
                    margin-bottom: 10px;
                }
                & > textarea{
                    box-sizing: border-box;
                    height: 75px !important;
                    margin: 5px 0px !important;
                    padding: 15px 15px;
                    padding-bottom: 40px;
                    background: $purple-ish;
                    color:#fff;
                    border: 1px solid white;
                    width: 100%;
                    border-radius: 3px;
                    resize: none;
                    transition: box-shadow .4s ease-out;
                    box-shadow: 0px 0px 0px #fff;
                    &:hover{
                        box-shadow: 0px 1px 6px #fff;
                    }
                }
                
            }
            & > button{
                margin-left: 0px;
                border: 1px solid #fff;
                color: #fff;
                margin: 0px 0px;
                border-radius: 3px;
                height: 40px;
                width: 80px;
                padding: 10px 15px;
                text-align: center;
                vertical-align: center;
                background: none;
                &:hover{
                    background:#fff;
                    color: $purple-ish;
                    cursor: pointer;
                }
                transition: box-shadow .4s ease-out;
                box-shadow: 0px 0px 0px #fff;
                &:hover{
                    box-shadow: 0px 1px 6px #fff;
                }
            }
           
            
        }
        
    }
    
}

.foot{
    display: flex;
    background: $purple-ish;
    //margin-left: 15vw;
    @media screen and (-ms-high-contrast: active){
        //margin-left: 50vw;
    }
    & > .to-top{
        display: block;
        margin: 30px auto;
        
        & > a{
            display: inline-block;
            text-align: center;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            & > i{
                color: #fff;
                transition: transform .3s;
            }
            & > p{
                color: #fff;
                transition: box-shadow .4s ease-out;
                text-shadow: 0px 0px 0px #fff;
                &:hover{
                    text-shadow: 0px 1px 4px #fff;
                }
            }
            &:hover{
                & > i{
                    transform: translateY(-5px);
                }
            }
        }
    }
}


///internal page exclusives

.internal-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: center;
    padding: 30px 30px;
    width: 100%;
    margin: 0 auto;
    & > .text-block{
        
        
        border: 5px solid $blue-ish;
        background: #fff;
        width: 80%;
        height: 100%;
        margin-top: 80px;
        display: block;
        padding: 15px 30px;
        border-radius: 3px;
        
            
        & > p{
            & > .dropcap{
                float: left;
                font-size: 60px;
                line-height: 35px;
                padding-top: 10px;
                padding-right: 8px;
                padding-left: 3px;
                padding-bottom: 0;
                color: $purple-ish;
            }
        }
        & > pre{
            max-height: 300px;
            & > code{
                color: yellow;
                &:first-of-type{
                    padding-left: 20px;
                }
            }
            & > .players{
                height: 100px;
                overflow-y: auto;
            }
        }
    
        
    }
}

.steps{
    list-style-type: disc;
    & > li{
        margin-bottom: 5px;
    }
}

.languages{
    display: flex;
    justify-content: space-around;
    & > div{
        text-align: center;
    }
}

.expand{
    width: auto;
    &> h3{
        display: block;
        width: 100%;
    }
    &:hover{
        h3{
            text-decoration: underline;
            
        }
    }
}



.scs-block{
    p a{
        color: #33C1B8;
        text-decoration: underline;
    }
}

.alert-danger{
    background-color: #d24d57;
    color: #fff;
}

.alert-notice{
    background-color: #25a25a;
    color: #fff;
}

.alert{
    padding: 20px 15px;
    border-radius: 10px;
    
    margin: 0 auto;
    margin-bottom: 15px;
}

@import "media.scss";
@import "_base.scss";
@import "_elastic.scss";

